{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row">
			<div class="col-12">
				<h1>Cart</h1>
				<table class="table">
					<thead>
						<tr>
							<th>Produit(s)</th>
							<th>Nom</th>
							<th>Prix</th>
							<th>Quantité</th>
							<th>Total</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{% for element in data %}
							<tr>
								<td><img style="max-width: 50px;" src="{{ element.product.image }}"></td>
								<td>{{ element.product.name }}</td>
								<td>{{ element.product.price }}</td>
								<td>{{ element.quantity }}</td>
								<td>{{ element.quantity * element.product.price }}€</td>
								<td>
									<a href="{{ path('app_cart_add', {id: element.product.id}) }}" class="btn btn-success">+</a>
									<a href="{{ path('app_cart_remove', {id: element.product.id}) }}" class="btn btn-warning">-</a>
									<a href="{{ path('app_cart_delete', {id: element.product.id}) }}" class="btn btn-danger">Supprimer</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="5">Votre panier est vide</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3">Total</td>
							<td>
								{{ total }}€
							</td>
							<td>
								<a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider le panier</a>
							</td>
						</tr>
					</tfoot>
				</table>
				{# <a href="{{ path('app_orders_add') }}" class="btn btn-primary">Validate the cart</a> #}
			</div>
		</div>
	</main>


	<section class="h-100 gradient-custom">
		<div class="container py-5">
			<div class="row d-flex justify-content-center my-4">
				<div class="col-md-8">
					<div class="card mb-4">
						<div class="card-header py-3">
							<h5 class="mb-0">Votre panier</h5>
						</div>
						<div
							class="card-body">
							<!-- Item -->
							{% for element in data %}
								<div class="row">
									<div
										class="col-lg-3 col-md-12 mb-4 mb-lg-0">
										<!-- Image -->
										<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
											<img src="{{ element.product.image }}" class="w-100" alt="Blue Jeans Jacket"/>
											<a href="#!">
												<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
											</a>
										</div>
										<!-- Image -->
									</div>

									<div
										class="col-lg-5 col-md-6 mb-4 mb-lg-0">
										<!-- Data -->
										<p>
											<strong>{{ element.product.name }}</strong>
										</p>
										<p>Prix unitaire:
											{{ element.product.price }}€</p>
										<p>Couleur:
										</p>
										<p>Taille:
										</p>
										<a href="{{ path('app_cart_delete', {id: element.product.id}) }}" type="button" class="btn btn-danger btn-sm me-1 mb-2">
											<i class="fas fa-trash"></i>
										</a>
										<!-- Data -->
									</div>

									<div
										class="col-lg-4 col-md-6 mb-4 mb-lg-0">
										<!-- Quantity -->
										<div class="d-flex justify-content-center align-items-center mb-4" style="max-width: 300px">
											<a href="{{ path('app_cart_remove', {id: element.product.id}) }}" class="btn btn-primary px-3 me-2">
												<i class="fas fa-minus"></i>
											</a>

											<div class="w-25">
												<p class="text-center align-items-center m-0">
													<strong>{{ element.quantity }}</strong>
												</p>
											</div>

											<a href="{{ path('app_cart_add', {id: element.product.id}) }}" class="btn btn-primary px-3 ms-2">
												<i class="fas fa-plus"></i>
											</a>
										</div>
										<!-- Quantity -->

										<!-- Price -->
										<p class="text-center">
											<strong>Total:
												{{ element.quantity * element.product.price }}€</strong>
										</p>
										<!-- Price -->
									</div>
								</div>

								<!-- Item -->

								<hr class="my-4"/>
							{% endfor %}
							<div
								class="text-start align-items-center" style="max-width: 300px">
								{# <a href="{{ path('app_cart_empty') }}" class="btn btn-danger">Vider le panier</a> #}
								<button class="btn btn-danger" id="empty-cart">Vider le panier</button>
							</div>
						</div>
					</div>

					<!-- Delivery Date -->
					<div class="card mb-4">
						<div class="card-body">
							<p>
								<strong>La livraison de votre commande est estimée pour :</strong>
							</p>
							<p id="delivery-date" class="mb-0"></p>
						</div>
					</div>
					<!-- Delivery Date -->

					<!-- Payment Method -->
					<div class="card mb-4 mb-lg-0">
						<div class="card-body">
							<p>
								<strong>Nous acceptons</strong>
							</p>
							<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa"/>
							<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express"/>
							<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard"/>
						</div>
					</div>
					<!-- Payment method -->
				</div>


				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-header py-3">
							<h5 class="mb-0">Résumé de votre panier</h5>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								{% for element in data %}
									<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
										{% if element.quantity > 1 %}
											{{ element.product.name }}
											x{{ element.quantity }}
										{% else %}
											{{ element.product.name }}
										{% endif %}
										<span>{{ element.quantity * element.product.price }}€</span>
									</li>
								{% endfor %}

								<!-- Frais de port -->
								<li class="list-group-item d-flex justify-content-between align-items-center px-0">
									Shipping
									<span>Gratis</span>
								</li>
								<!-- Frais de port -->

								<li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
									<div>
										<strong>Prix total</strong>
										<strong>
											<p class="mb-0">(TVA incluse)</p>
										</strong>
									</div>
									<span>
										<strong>{{ total }}€</strong>
									</span>
								</li>
							</ul>

							<a href="{{ path('app_order_add') }}" class="btn btn-primary btn-lg btn-block">
								Procéder au paiement
							</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		// Obtenir la date actuelle
const currentDate = new Date();

// Ajouter une semaine (7 jours)
currentDate.setDate(currentDate.getDate() + 7);

// Formater la date au format 'dd.mm.yyyy'
let day = currentDate.getDate();
let month = currentDate.getMonth() + 1; // Les mois sont indexés à partir de zéro, donc nous ajoutons 1
const year = currentDate.getFullYear();

// Formatage pour avoir 2 chiffres pour le jour et le mois
if (day < 10) {
day = '0' + day;
}

if (month < 10) {
month = '0' + month;
}

// Construire la chaîne de date
const deliveryDate = day + '.' + month + '.' + year;

// Afficher la date estimée de livraison
document.getElementById("delivery-date").textContent = deliveryDate;
	</script>

{% endblock %}
