{% extends 'base.html.twig' %}

{% block title %}Accueil │ May Dine France
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}


	<img class="bg-img" src={{ asset('/assets/uploads/bijoux/bijoux3.jpeg') }} alt="bg image">
</img>


<section class="py-4 hidden" id="accueil">
	<h1 id="MonH1" class="mb-4">May dine France</h1>
	<h1 id="arabic" class="mb-4">{{ 'bienvenue'|trans }}</h1>
</h1>
<div id="divider">
	<div class="display-4">

		<a id="decouvrir" type="button" class="btn rounded-pill mt-1" href="{{ path('app_product')}}">
			{{ 'découvrir nos produits'|trans }}
		</a>

	</div>
</div></section><section class="hidden" style="margin-top: 100vh;">
<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-12">
			<div class="fade-in" style="display: flex; align-items: center;">
				<div style="flex-grow: 1; max-width: 70%;">
					<h1>{{ 'qui somme nous ?'|trans }}</h1>
					<p class="hidden">{{ 'May Dine France est une marque'|trans }}</p>
					<p>{{ 'venue en 2013'|trans }}</p>
					<p>{{ '10 ans plus tard'|trans }}</p>
					<p class="hidden">{{ 'Notre but est de promouvoir'|trans }}</p>
					<p>{{ 'Nous vous proposons des produits alimentaires'|trans }}</p>
					<p>{{ 'Nous vous proposons des produits que nous produisons'|trans }}</p>
					<p>{{'ou encore nous mettons'|trans }}</p>
					<h6 class="hidden">{{'Notre slogan'|trans }}</h6>
				</div>
				<a href="https://pochonvert.fr/">
					<img class="hidden" src="{{asset('assets/logo/pochonvert.png')}}" alt="description_de_votre_image" style="max-width: 300px;">
				</a>
			</div>


		</div>
	</div>

</div></section><section class="hidden">


<div id="divider">
	<h1 id="galerietitre" class="display-4">{{ 'galerie'|trans }}</h1>
</div>
<div class="container-fluid hidden">
	<div
		class="px-lg-5 hidden">
		{# Galerie #}
		<div class="row py-5" id="nosproduits">
			<div class="col-lg-12 mx-auto">
				<div class="text-white p-5 shadow-sm rounded banner">
					<h1 class="display-4">{{ 'nos produits sont'|trans }}</h1>
					<p class="lead">
						<span id="bleu">{{ 'haut de gamme,'|trans }}</span>
						<span class="blanc">{{ 'qualitatif '|trans }}</span>,
						<span id="rouge">{{ 'et français'|trans }}!</span>
					</p>

				</div>
			</div>
		</div>


		<div
			class="row hidden">
			<!-- Gallery item -->
			{% for product in products %}
				<div
					class="col-xl-3 col-lg-4 col-md-6 mb-4">
					<!--  code HTML pour chaque produit  avec une boucle -->
					<div class="bg-white rounded shadow-sm">
						<img src="{{ asset(product.image) }}" alt="" class="img-fluid card-img-top">
						<div class="p-4">
							<h5>
								<a href="#" class="text-dark">{{ product.name }}</a>
							</h5>
							<p class="small text-muted mb-0">{{ 'prix'|trans }}
								{{ product.price }}
								€</p>
							<p class="small text-muted mb-0">{{ 'poids'|trans }}</p>

							<a href="{{ path('app_product_details', {'id': product.id}) }}" class="btn btn-primary">{{ 'en voir plus'|trans }}</a>

							<a class="btn btn-dark flex-shrink-0 ml-7" type=" button" href=" {{ path('app_cart_add', {'id': product.id} ) }}">{{'acheter' |trans }}</a>

						</div>
					</div>
				</div>
			{% endfor %}


		</div>
		<div class="py-5 text-right hidden">
			<a href="{{ path('app_product')}}" class="btn btn-dark px-5 py-3 text-uppercase">{{ 'en voir plus'|trans }}</a>
		</div>
	</div>
</div></section>{% endblock %}
